body {
                text-align: left;
                color: #ffffff;
                font-family: Arial, Helvetica, sans-serif;
                background-image: url(https://media0.giphy.com/media/zW0n7AIWG4ka4/giphy.gif)
            }
            
            
